*{
    margin: 0;
    padding: 0;
}
h1{
    background-color:lightcoral ;
    color:lightcyan ;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
.choices {
position: relative;
top: 150px;    
display:flex;
justify-content: center;
gap: 5rem;
}

img{
height: 200px;
width: 200px;
border: solid black 2px;
border-radius: 50%;
object-fit: cover;
}
img:hover{
    cursor: pointer;
    border: solid black 8px;
}
.score-board{
position: relative;
top: 120px;
display: flex;
justify-content:space-evenly; 
font-size: xx-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
align-items: center;   
height: 40vmin;
text-align: center;
text-transform: uppercase;
}
#user-score{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#comp-score{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.msg-box{
    display: flex;
    justify-content: center;
   position: relative;
   top: 80px;
}
#msg{
    display: inline;
    background-color: rgb(20, 23, 79);
    color: white;
    height: 5rem;
    border-radius: 30%;
    font-size: xx-large;
    text-align: center;
    line-height:5rem;

}

