*{
    margin:0;
    padding:0;  
}
body{
    /* background-color:#D7C0D0; */
    background-image: url();
    text-align: center;
    color: rgb(167, 43, 43);
}
h1{
    font-size: 350%;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 70vh;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 0.8rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,1.5);
    font-size: 15vmin;
    color: rgb(150, 53, 53);
    background-color:wheat ;
}

  
.reset-btn {
    height: 7vmin;
    width: 13vmin;
    font-size: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1.5);
    background-color: black;
    color: wheat;
    border: solid wheat;
    margin-right: 8rem;
     /* Add margin-right to create space between buttons */
  }
  
  .newgame {
    font-size: 150%;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: wheat;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1.5);
    height: 7vmin;
    width: 13vmin;
    border: solid wheat;
    margin-left: 8rem;
    margin-top: 10px; /* Add margin-right to create space between buttons */
  }
  
